<div class="form-container">
  <h2>Modifier le Médicament</h2>

  <form [formGroup]="medicineForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Nom du médicament</label>
      <input formControlName="name" type="text" placeholder="Paracétamol" />
      <small *ngIf="medicineForm.get('name')?.invalid && medicineForm.get('name')?.touched">
        Le nom est obligatoire.
      </small>
    </div>

    <div class="form-group">
      <label>Catégorie</label>
      <input formControlName="category" type="text" placeholder="Antidouleur" />
    </div>

    <div class="form-group">
      <label>Prix (FCFA)</label>
      <input formControlName="price" type="number" />
      <small *ngIf="medicineForm.get('price')?.invalid && medicineForm.get('price')?.touched">
        Le prix doit être supérieur à 0.
      </small>
    </div>

    <div class="form-group">
      <label>Quantité en stock</label>
      <input formControlName="stock" type="number" />
    </div>

    <div class="form-group">
      <label>Date d’expiration</label>
      <input formControlName="expiryDate" type="date" />
    </div>

    <button type="submit" [disabled]="medicineForm.invalid">💾 Modifier</button>
  </form>

  <p class="success" *ngIf="successMessage">{{ successMessage }}</p>
  <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
</div>
